<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nathan James - Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/Ơapple-icon.png}">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">

    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" th:href="@{/assets/scss/style.css}">
    <link th:href="@{/assets/css/lib/vector-map/jqvmap.min.css}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>


<!-- Left Panel -->


<aside th:replace="Admin/fragments/LeftPanel :: leftpanel"></aside><!-- /#left-panel -->

<!-- Left Panel -->


<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <!-- Header-->
    <header th:replace="Admin/fragments/Header :: header11"></header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                    <p>Please Search the Movie by Name before Operating the functions!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Movie Updates</a></li>
                        <li><a href="#">Dashboard</a></li>


                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Movie</strong> Updates
                    </div>
                    <div class="card-body card-block">
                        <form th:action="@{/admin-js/add-movie}" method="post" th:object="${movie}" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">Movie ID </label></div>
                                <div class="col-12 col-md-9"><input type="text" id="MovieId" name="text-input"
                                                                    class="form-control" disabled></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MovieName"
                                                                 class=" form-control-label">Name </label></div>
                                <div class="col-12 col-md-9"><input type="text" id="MovieName" name="text-input"
                                                                    placeholder="Name of the Movie."
                                                                    class="form-control" th:field="*{id}" required></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MovieDuration"
                                                                 class=" form-control-label">Duration </label></div>
                                <div class="col-12 col-md-9"><input type="number" id="MovieDuration" name="text-input"
                                                                    placeholder="Duration of the Movie."
                                                                    class="form-control" th:field="*{duration}" required></div>
                            </div>

                            <!-- <div class="row form-group">
                                  <div class="col col-md-3"><label class=" form-control-label">Status</label></div>
                                  <div class="col col-md-9">
                                    <div class="form-check">
                                      <div class="checkbox">
                                        <label for="checkbox1" class="form-check-label ">
                                          <input type="checkbox" id="InTheatres" name="checkbox1" value="option1" class="form-check-input">In Theatres
                                        </label>
                                      </div>
                                      <div class="checkbox">
                                        <label for="checkbox2" class="form-check-label ">
                                          <input type="checkbox" id="NotinTheatres" name="checkbox2" value="option2" class="form-check-input"> Not in Theatres
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div> -->

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MovieDescription" class=" form-control-label">Description</label>
                                </div>
                                <div class="col-12 col-md-9"><textarea name="textarea-input" id="MovieDescription"
                                                                       rows="9" placeholder="Content..."
                                                                       class="form-control" th:field="*{description}" required></textarea></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MainActor" class=" form-control-label">Main
                                    Actor </label></div>
                                <div class="col-12 col-md-9"><input type="text" id="MainActor" name="text-input"
                                                                    class="form-control" th:field="*{mainActor}" required></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MainActress" class=" form-control-label">Main
                                    Actress </label></div>
                                <div class="col-12 col-md-9"><input type="text" id="MainActress" name="text-input"
                                                                    class="form-control" th:field="*{mainActress}" required></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MovieProducer" class=" form-control-label">Producer </label>
                                </div>
                                <div class="col-12 col-md-9"><input type="text" id="MovieProducer" name="text-input"
                                                                    class="form-control" th:field="*{producer}" required></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MovieTheatre"
                                                                 class=" form-control-label">Theatre </label></div>
                                <div class="col-12 col-md-9"><input type="text" id="MovieTheatre" name="text-input"
                                                                    class="form-control" th:field="*{theatre}" required></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="MovieImage" class=" form-control-label">Movie
                                    Image input</label></div>
                                <div class="col-12 col-md-9"><input type="file" id="MovieImage" name="file-input"
                                                                    class="form-control-file" ></div>
                            </div>


                            <div class="card-footer">
                                <button type="button" class="btn btn-primary btn-sm" onclick="searchmovie();">
                                    <i class="fa fa-search"></i> By Name
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="addFilm()">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="updateMovie()">
                                    <i class="fa fa-wrench"></i> Update
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="DeleteFilm()">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="ClearFields()">
                                    <i class="fas fa-eraser"></i> Clear Fields
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-3"></div>
            </div>


        </div><!-- /#right-panel -->
    </div>
</div>
<!-- Right Panel -->

<script th:src="@{/assets/js/vendor/jquery-2.1.4.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


<script th:src="@{/assets/js/lib/chart-js/Chart.bundle.js}"></script>
<script th:src="@{/assets/js/dashboard.js}"></script>
<script th:src="@{/assets/js/widgets.js}"></script>
<script th:src="@{/assets/js/lib/vector-map/jquery.vmap.js}"></script>
<script th:src="@{/assets/js/lib/vector-map/jquery.vmap.min.js}"></script>
<script th:src="@{/assets/js/lib/vector-map/jquery.vmap.sampledata.js}"></script>
<script th:src="@{/assets/js/lib/vector-map/country/jquery.vmap.world.js}"></script>
<script>
    (function ($) {
        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>


<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyA6swDC9X6ngehYczHLzxsk_Pck-b20ikY",
        authDomain: "nathan-james-web.firebaseapp.com",
        databaseURL: "https://nathan-james-web.firebaseio.com",
        projectId: "nathan-james-web",
        storageBucket: "nathan-james-web.appspot.com",
        messagingSenderId: "429172932466"
    };
    firebase.initializeApp(config);
</script>

<script th:src="@{/admin-js/admin.movie.js}"></script>


</body>
</html>
