<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title> Responsive Login and Signup Form </title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{loginStatic/css/style.css}">

    <!-- Boxicons CSS -->
    <link rel="stylesheet" th:href="@{'https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css'}">


</head>
<body>
<section class="container forms">


    <!-- Signup Form -->

    <div class="form show-signup">
        <div class="form-content">
            <header>Signup</header>
            <form action="/signup" method="post">
                <div class="field input-field">
                    <input class="input" name="username" placeholder="Username" type="text">
                </div>

                <div class="field input-field">
                    <input class="password" name="password" placeholder="Create password" type="password">
                </div>

                <div class="field input-field">
                    <input class="password" name="confirmPassword" placeholder="Confirm password" type="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <button>Signup</button>
                </div>
            </form>

            <div class="form-link">
                <span>Already have an account? <a class="link login-link" th:href="@{/login}">Login</a></span>
            </div>
        </div>
    </div>
</section>

<!-- JavaScript -->
<script th:src="@{loginStatic/js/script.js}"></script>
</body>
</html>