<header th:fragment="header2">
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>Welcome to Nathan James film Ticketing system</span>
            </div>
            <div class="pull-right">
                <ul class="header-top-links">
                    <li><a href="https://www.facebook.com/profile.php?id=100090148037704">Contact US</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li class="dropdown default-dropdown">
                        <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown">ENG <i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">English (ENG)</a></li>
                            <li><a href="#">German (DE)</a></li>
                            <li><a href="#">French (FR)</a></li>
                            <li><a href="#">Spanish (Es)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown default-dropdown">
                        <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown">LKR <i class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">LKR (RS)</a></li>
                            <li><a href="#">EUR (€)</a></li>
                            <li><a href="#">USD ($)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /top Header -->

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="/home">
                        <img alt="" th:src="@{/fe/img/logo.png}">
                    </a>
                </div>
                <!-- /Logo -->
                <div class="search">
                    <form id="searchForm">
                        <input id="searchInput" class="input search-input" placeholder="Enter your keyword" type="text">
                        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div id="searchResults" class="search-results"></div>
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown">
                        <a aria-expanded="true" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                        </a>

                        <ul class="custom-menu">
                            <th:block th:if="${isAuthenticated}">
                                <li><a href="/myAccount"><i class="fa fa-user-o"></i> My Account</a></li>
                                <li><a href="#"><i class="fa fa-heart-o"></i> Film Wishlist</a></li>
                                <li><a href="/ticket/history"><i class="fa fa-check"></i> History</a></li>
                                <li><a href="/change-password"><i class="fa fa-key"></i> Change Password</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </th:block>
                            <th:block th:if="${!isAuthenticated}">
                                <li><a href="/login"><i class="fa fa-unlock-alt"></i> Login</a></li>
                                <li><a href="/signup"><i class="fa fa-user-plus"></i> Create An Account</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <!-- /Account -->

                    <!-- Mobile nav toggle -->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- /Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- /header -->
    </div>
    <!-- /container -->
    <style>
        .search-results {
            position: absolute;
            background-color: white;
            width: 100%;
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000;
        }

        .search-results a {
            padding: 10px;
            display: block;
            color: #333;
            text-decoration: none;
        }

        .search-results a:hover {
            background-color: #f0f0f0;
        }

    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInput').on('keyup', function (e) {
                e.preventDefault();
                let keyword = $('#searchInput').val();
                console.log(keyword)
                if (keyword) {
                    $.ajax({
                        url: '/home/search',
                        method: 'GET',
                        data: { keyword: keyword },
                        dataType: 'json', // Ensure you're expecting JSON data
                        success: function (data) {
                            console.log(data)
                            let resultsContainer = $('#searchResults');
                            resultsContainer.empty(); // Clear previous results

                            if (Array.isArray(data) && data.length > 0) {
                                $.each(data, function (index, movie) {
                                    let movieLink = `
                                        <a href="/home/movie/${movie.id}" class="list-group-item list-group-item-action">
                                            ${movie.title}

                                        </a>
                                `;
                                    resultsContainer.append(movieLink);
                                });
                            } else {
                                resultsContainer.append('<p>No movies found</p>');
                            }
                        },
                        error: function (err) {
                            console.log(this.url)
                            console.error('Error fetching movies:', err);
                        }
                    });
                }
            });
        });

    </script>
</header>
