<aside class="left-panel" id="left-panel" th:fragment="leftpanel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#main-menu" data-toggle="collapse" type="button">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/admin"><img alt="Logo" th:src="@{/fe/img/logo.png}"></a>
            <a class="navbar-brand hidden" href="/admin"><img alt="Logo" src="fe/img/logo.png"></a>
        </div>

        <div class="main-menu collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/admin"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    <a href="/home"> <i class="menu-icon fa fa-home"></i>Back to Home </a>

                </li>

                <h3 class="menu-title">Actions</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="#"> <i class="menu-icon fa fa-film"></i>Movie</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-plus"></i><a href="/admin/add-movie">Add</a></li>
                        <li><i class="fa fa-wrench"></i><a href="/admin/show-all-movies">All movies</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                       data-toggle="dropdown" th:href="@{/admin/theatre/show-theatre}"> <i
                            class="menu-icon fa fa-video-camera"></i>Theatre</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-wrench"></i><a th:href="@{/admin/theatre/add-theatre}">Add</a></li>
                        <li><i class="menu-icon fa fa-search"></i><a th:href="@{/admin/theatre/show-theatre}">Show all theatres</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                       data-toggle="dropdown" th:href="@{/admin/schedule/show-schedule}"> <i
                            class="menu-icon fa fa-video-camera"></i>Schedule</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-wrench"></i><a th:href="@{/admin/schedule/add-schedule}">Add</a></li>
                        <li><i class="menu-icon fa fa-search"></i><a th:href="@{/admin/schedule/show-schedule}">Show all Schedule</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="/admin/ticket"> <i class="menu-icon fa fa-user-circle-o"></i>Ticket</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-search"></i><a href="/admin/ticket"> Show all Ticket</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="/admin/payment"> <i class="menu-icon fa fa-user-circle-o"></i>Payment</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-search"></i><a href="/admin/payment"> Show all Payment</a></li>
                    </ul>
                </li>

                <h3 class="menu-title">Data Comings</h3><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                       href="#"> <i class="menu-icon fa fa-table"></i>Tables</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="/admin/show-user">User</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>